/*shopping cart */
.Container {
  grid-area: cartitems;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin: 10px;
  align-items: center;
}

.cartItem, .cartItemRemoved {
  height: 10em;
  width: 90%;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  margin: 40px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 5% 40% 40% 15%;
  grid-template-areas:
    "checkbox pic title title"
    "checkbox pic quantity price";

  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.cartItemRemoved {
  opacity: 0;
}

.itemCheckbox {
  grid-area: checkbox;
}

.cartItemImage {
  grid-area: pic;
  object-fit: scale-down;
  max-height: 100%;
  max-width: 100%;
}



.itemTitle {
  grid-area: title;
  justify-self: start;
  padding: 0;
  text-align: left;
}

.itemPrice {
  grid-area: price;
  font-weight: bold;
}

.itemQuantityBox {
  height: 100%;
  width: 100%;
  grid-area: quantity;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 1fr 0.5fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: 
    "count  count setCountAdd setCountMinus  ."
    "remove .     .           .              ."
}

.itemCount {
  grid-area: count;
  justify-self: start;
  color: black;
  margin: 0;
  font-size: 20px; 
}

.itemCountButAdd {
  grid-area: setCountAdd;
  color: black;
  background-color: white;
  border: 0.1em solid black;
  height: 100%;
  width: 90%;
  margin: 0.2em;
}

.itemCountButMinus {
  grid-area: setCountMinus;
  color: black;
  background-color: white;
  border: 0.1em solid black;
  height: 100%;
  width: 90%;
}

.removeBut {
  grid-area: remove;
  justify-self: start;
  align-self: center;
  background-color: white;
  border: 0px;
  margin: 0;
  padding: 0;
  color: gray;
  font-size: 10px;
}

.cartTitle, .cartSubTitle {
  grid-area: title;
  justify-self: start;
  align-self: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.cartSubTitle {
  grid-area: subtitle;
  align-self: start;
}

.cart {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5em 5em 1fr;
  grid-template-areas: 
    "title but1"
    "subtitle br"
    "cartitems  cartitems"
  ;
  align-items: center;
  justify-items: center;
}

.checkoutBut {
  grid-area: but1;
  justify-self: end;
  padding: 1em;
  height: 50%;
  width: 50%;
  font-family: serif;
  font-size: 20px;
  color: black;
  background-color: white;
  border: 2px black solid;
  padding: 10px;
  white-space: nowrap;
  transition: background-color;
  transition-duration: 0.2s;
}
  
.checkoutBut:active {
  background-color: gainsboro;
}
  