.FormTitle {
  font-family: sans-serif;
  text-align: center;
}

.FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}


.TextStyle {
  text-align: left;
  font: 2em monospace;
}

.FormFieldSmall {
  composes: TextStyle;
  padding: 15px;
  border: 1px solid LightGray;
  font-size: 4em;
  margin: 20px 50px 20px 50px;
  height: 100px;
  width: 50%;
}

.FormFieldBig {
  composes: TextStyle;
  border: 1px solid LightGray;
  height: 400px;
  padding: 15px;
  font-size: 4em;
  margin: 20px 50px 20px 50px;
  width: 90%;
}

.SubmitButton {
  composes: TextStyle;
  border: 1px solid gray;
  background-color: navy;
  color: white;
  font-size: 60px;
  margin: 20px 50px 20px 50px;
  padding: 10px;
  text-align: center;
  width: 500px;
  height: 200px;
}
