

.CategoryContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.Category {
  text-decoration: none;
  border: 0x;
  object-fit: cover;
  overflow: hidden;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 10px;
}

/*for use in desktop*/
@media (min-width: 1000px) {
  .CategoryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 10px 10px;
  }

  .Category {
    margin: 0px;
  }
}

.TextInPic {
  color: white;
  font-family: monospace;
  font-size: 80px;
  text-align: center;
  grid-area: 1/1/1/1;
  z-index: 2;
}

.Image {
  width: 100%;
  grid-area: 1/1/1/1;
  z-index: 1
}
