.ItemContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 40px;
  margin: 20px;
}

.ItemCard {
  height:500px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  align-items: center;
  justify-content: space-around;
  border: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ItemImage {
  padding: 10px;
  height: 60%;
  flex-shrink: 1;
}

.ItemTitle {
  flex-shrink: 2;
}

.Button {
  flex-shrink: 2;
  border: 1px solid navy;
  font-family: monospace;
  color: white;
  background-color: navy;
  padding: 10px;
}




.CategoryContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-around;
}

.Category {
  text-decoration: none;
  border: 0x;
  object-fit: cover;
  overflow: hidden;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  margin: 10px;
}

/*for use in desktop*/
@media (min-width: 1000px) {
  .CategoryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-gap: 10px 10px;
  }

  .Category {
    margin: 0px;
  }
}

.TextInPic {
  color: white;
  font-family: monospace;
  font-size: 80px;
  text-align: center;
  grid-area: 1/1/1/1;
  z-index: 2;
}

.Image {
  width: 100%;
  grid-area: 1/1/1/1;
  z-index: 1
}

/*shopping cart */
.cart {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  margin: 20px;
  align-items: center;

}

.cartItem {
  width: 400px;
  height: 80px;
  display: flex;
  flex-direction: row;
  object-fit: cover;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  margin: 40px;
}

.cartItemImage {
  padding: 10px;
  width: 10%;
  flex-shrink: 1;
}
