.NavBarContainer {
  composes: OverallAppearance from "./Shared.css";
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.NavBarTop {
  composes: NavBarContainer;
}

.NavBarBot {
  composes: NavBarContainer;
}

.NavBarItem {
  composes: OverallAppearance from "./Shared.css";
  text-decoration: none;
  margin: 20px;

}
